{% load bootstrap %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"0>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
        <title>Bootstrap form example</title>

    </head>
    <body>
        <div class="container">
            <h1>Bootstrap form example</h1>
            <hr />

            <div class="row">
                <div class="span12">
                    <form class="form-horizontal">
                        {{ form|bootstrap }}
                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- scripts -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    </body>
</html>
