{% load semanticui %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.8/semantic.min.css">
        <title>SemanticUI form example</title>
        <style type="text/css">
            .multiple-checkbox ul { /* Used to hide <li> elements in multiple checkbox forms */
              padding-left: 0px;
              list-style: none;
            }
        </style>

    </head>
    <body>
        <div class="ui grid container">
            <div class="row">
                <div class="column">
                    <h1 class="ui header">SemanticUI form example</h1>

                    <p>below demostate how the form looks with SemanticUI</p>
                </div>
            </div>

            <!-- basic example -->
            <div class="row">
                <div class="column">
                    <h2 class="ui header">Basic example</h2>

                    <hr />

                    <form class="ui form" role="form">
                        {{ form|semanticui }}
                        <input type="button" class="ui button" value="Submit" />
                    </form>
                </div>
            </div>


            <!-- inline form -->
            <div class="row">
                <div class="column">
                    <h2 class="ui header">Inline form</h2>

                    <hr />

                    <form class="ui form" role="form">
                        {{ form|semanticui_inline }}
                        <input type="button" class="ui button" value="Submit" />
                    </form>
                </div>
            </div>

        </div>

        <!-- scripts -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.8/semantic.min.js"></script>
    </body>
</html>
