{% load semanticui %}

    {% if field|is_checkbox %}
        <div class="{% if is_inline %}inline {% endif %}field">
            <div class="ui checkbox {{ classes.single_value }}">
                {% if field.auto_id %}
                    {{ field }}
                    <label>{{ field.label }}</label>
                {% endif %}
                {% for error in field.errors %}
                    <span class="help-block {{ form.error_css_class }}">{{ error }}</span>
                {% endfor %}

                {% if field.help_text %}
                    <div class="label">
                        {{ field.help_text|safe }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% elif field|is_radio %}

        <div class="{% if is_inline %}inline {% endif %}grouped fields {% if field.field.required %}required{% endif %} {% if field.errors %} error{% endif %}{% if field.error %} error{% endif %}">
            {% if field.auto_id %}
                <label>{{ field.label }}</label>
            {% endif %}
            {% for choice in field %}
                <div class="field">
                    <div class="ui radio checkbox">
                        {{ choice.tag }}
                        <label>{{ choice.choice_label }}</label>
                    </div>
                </div>
            {% endfor %}

            {% for error in field.errors %}
                <span class="label {{ form.error_css_class }}">{{ error }}</span>
            {% endfor %}

            {% if field.help_text %}
                <div class="label">
                    {{ field.help_text|safe }}
                </div>
            {% endif %}
        </div>

    {% else %}
        <div class="{% if is_inline %}inline {% endif %}field {% if field.field.required %}required{% endif %} {% if field.errors %} error{% endif %}{% if field.error %} error{% endif %}">
            {% if field.auto_id %}
                <label class="{{ classes.label }}" for="{{ field.auto_id }}">{{ field.label }}</label>
            {% endif %}

            {{ field }}

            {% for error in field.errors %}
                <span class="label {{ form.error_css_class }}">{{ error }}</span>
            {% endfor %}

            {% if field.help_text %}
                <div class="label">
                    {{ field.help_text|safe }}
                </div>
            {% endif %}
        </div>
    {% endif %}
